body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  color: #000000;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #FF2D55;
  color: black;
}

.white-section{
  background-color: white;
  color: #00DC4D;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Logo Image */
.logo-image {
  width: 70px;
  border-radius: 10px;
  margin: 10px;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

/* Demo Image */
.demo-image {
  width: 60%;
}

/* IPhone Mock */
body {
  background: #f4f6fc;

  &:after {
    content: 'Made with ❤️ by Adiel Hercules';
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #3F436B;
    color: #fff;
    opacity: 0.6;
  }
}

.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 288px;
  height: 636px;
  width: 50
  background-color: #7371ee;
  background-image: url("../images/app-demo-animation.gif");
  background-size: 288px 636px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;


}

/* Features Section */
#features {
  position: relative;
}

.feature {
  padding: 5%;
}

.feature-title{
  font-size: 1.2rem;
  font-weight: 400;
  color: #FF2D55;
}

.feature-icon {
  font-size: 4rem;
  color: #ef8172;
  margin: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px;
}

/* Pricing Section */

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call To Action Section */


/* Footer Section */

.footer-social-icon {
  margin: 2% 1%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
